.dropdown {
  display: flex;
}

.dropdown > .dropdown-content {
  visibility: hidden;
  background: var(--base-50);
  padding: 1rem;
  color: var(--base-300);
  border-radius: .2rem;
  opacity: 0;
  transition: 300ms;
  display: flex;
  flex-direction: column;
  width: 0;
  height: 0;
  position: absolute;
}

.dropdown .dropdown-toggler {
  cursor: pointer;
}

.dropdown > .dropdown-toggler-btn {
  appearance: none;
  display: none;
  cursor: pointer;
}

.dropdown > .dropdown-toggler-btn:checked + .dropdown-content {
  visibility: visible;
  opacity: 1;
  width: max-content;
  height: auto
}

.dropdown.d-right-0 > .dropdown-content {
  right: 0;
  left: auto;
}

.dropdown.d-bottom-0 > .dropdown-content {
  bottom: 0;
  top: auto;
}

