.dropdown {
  display: flex;
}

.dropdown > .dropdown-content {
  visibility: hidden;
  color: var(--base-300);
  opacity: 0;
  transition: 300ms;
  display: none;
  position: absolute;
  gap: .5rem;
  align-items: flex-start;
}

.dropdown .dropdown-toggler {
  cursor: pointer;
}

.dropdown > .dropdown-toggler-btn {
  appearance: none;
  display: none;
  cursor: pointer;
}

.dropdown > .dropdown-toggler-btn:checked + .dropdown-content {
  visibility: visible;
  opacity: 1;
  display: flex;
}

.dropdown.d-right-0 > .dropdown-content {
  right: 0;
  left: auto;
}

.dropdown.d-bottom-0 > .dropdown-content {
  bottom: 0;
  top: auto;
}

.dropdown-content > .menu-tab {
  padding: 1rem;
  background: var(--base-50);
  border-radius: .2rem;

  &:empty {
    display: none;
  }
}
