* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-300: #003C43;
  --base-200: #135D66;
  --base-100: #77B0AA;
  --base-50: #E3FEF7;
}

html,
body {
  font-family: arial;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
}

.dummy-cnv {
  height: 0;
  width: 0;
}

body.mode-circle {
  .cnv {
    cursor: crosshair;
  }

  .btn-add-circle {
    background: var(--base-200);
    color: var(--base-50);
  }
}

body.mode-edit {
  .btn-edit {
    background: var(--base-200);
    color: var(--base-50);
  }
}

.cnv {
  position: absolute;
  inset: 0;
}

.menu {
  position: fixed;
  top: .5rem;
  left: .5rem;
  display: flex;
  gap: .5rem;
  z-index: 20;
}

.menu-list {
  transform: translateX(-1rem);
  opacity: 0;
  visibility: hidden;
  display: flex;
  transition: 300ms;
  padding: .5rem;
  list-style: none;
  background: var(--base-50);
  border-radius: .2rem;
}

.menu.active > .menu-list {
  transform: translatex(0);
  opacity: 1;
  visibility: visible;
}

.btn {
  border: 0;
  padding: 1rem;
  transition: 300ms;
  cursor: pointer;
}

.menu-list .btn {
  border-radius: .2rem;
  background: none;
  color: var(--base-200);

  &:hover {
    background: var(--base-200);
    color: var(--base-50)
  }
}

.menu-toggler {
  color: var(--base-300);
  margin: .5rem;
  background: none;
}

.modifier {
  color: var(--base-100);
  position: absolute;
  display: none;
  border-radius: 50%;
  border: 2px solid currentColor;
  transform: translate(-50%, -50%);
  z-index: 10;
  user-select: none;
}

.modifier.active {
  display: block;
}

.modifier > .m-radius {
  background: currentColor;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: var(--base-300);
}

.modifier > .m-control {
  --size: 2rem;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  background: currentColor;
  position: absolute;
  cursor: grab;
}

.modifier > .m-control-radius {
  left: 100%;
  top: 50%;
  transform: translate(25%, -50%);
}

.modifier > .m-control-posi {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.m-menu {
  --label-size: 2rem;
  position: absolute;
  left: 100%;
  top: calc(50% - var(--label-size) - .2rem);
  transform: translate(25%, -50%);
}

.m-menu > label {
  height: var(--label-size);
  width: var(--label-size);
  display: grid;
  place-items: center;
  background: var(--base-200);
  color: var(--base-50);
  border-radius: 50%;
  cursor: pointer;
}

.btn-delete {
  display: block;
  background: #e64545; 
  color: white;
  padding: .5rem;
  margin-top: .5rem;
  border-radius: .2rem;
  width: 100%;
}

.form-add-circle {
  display: flex;
  flex-flow: column wrap;
  gap: .5rem;

  & > .form-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;

    & > input[type="number"] {
      padding: .5rem;
      border-radius: .2rem;
      border: 1px solid var(--base-100);
      background: none;
      width: 4rem;
    }
  }

  & > .form-submit {
    padding: .5rem;
    background: var(--base-200);
    color: var(--base-50);
    border-radius: .2rem;
  }
}

.btn-toggle-animation > .feather-pause {
  display: none;
}

.btn-toggle-animation.playing > .feather-pause {
  display: block;
}

.btn-toggle-animation.playing > .feather-play {
  display: none;
}
